<!DOCTYPE html>
<html lang="en">

	<head>
		<title>Project 18 Recycle BC</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width">
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i|Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i">
        <link rel="stylesheet" type="text/css" href="css/stylesheet.css">
        <script src="scripts/app.js" defer></script>
	</head>

    <body>
        <!-- header starts -->
        <header>
            <a href="/">
                <img src="images/recycle.png" class="logo" alt="Project 18 Recycle BC logo">
            </a>
            <!-- <nav>
                <a id="list_item" href="#">List Item</a>
                <a id="add_item" href="#">Add Item</a>
            </nav> -->
        </header>
        <!-- header ends -->

        <!-- main starts -->
        <main>
            <h1>RECYCLE<br>BC</h1>
            <p class="main-text">Search your containers to recycle in your location</p>
            <form method="POST" action="/results" class="textbox-button">
                <input type="text" autocomplete="off" name="textarea" id="textarea" class="textarea" placeholder="Enter item" rows="1" oninput="filterFunction()">
                <button type="submit" name="btn_search" class="btn_search">Search</button>
                <div class="dropdown">
                    <ul class="dropdown" id="liveResults" aria-labelledby="liveResults">
                        <% for (const item of items) { %>
                            <li class="item noshow">
                                <span><%= item.ItemName %></span>
                            </li>
                        <% } %>
                    </ul>
                </div>
            </form>
        </main>
        <!-- main ends -->

        <!-- section starts -->
        <section>
            <div class="section-image"></div>
            <div class="section-container">
                <h2>BRITISH<br>COLUMBIA</h2>
                <p class="section-text">Thank you for your contribution of environmental protection.</p>
            </div>
        </section>
        <!-- section ends -->

        <!-- footer starts -->
        <footer>
            <p>Project 18 Recycle BC 2021</p>
        </footer>
        <!-- footer ends -->

	</body>

</html>